*{
    margin: 0% 0%;
    padding: 0% 0%;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(#6A8A8D , #BABCBC , #6088B3  );
    
}

.cabecera{
    width: 100%;
    height: 10%;   
}
.logo{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 20px;

}
.cabecera h1{
    font-size: 4.0rem;
    text-align: center;
}
.menu{
    width: 100%;
    height: 10%;
    background-color: rgb(30, 10, 71);
    padding: 5px;
       
    display: inline-block;
    text-align: end;
    
}
.menu a{
    margin-inline-end: 12%;
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.sec1{
    width: 100%;
    
    
        
}

.div1 h2{
    text-align:center;
    margin: 50px 0px;
    font-size: 2.7rem;

}
.div1{
    width: 55vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto; 
    
    margin-top: 30px;
    
}
.img1{
    width: 100%;
    box-shadow: 0 0 15px black;
    border-radius: 20px;
}
.img2{
    width: 100%;
    box-shadow: 0 0 15px black;
    border-radius: 20px;
}
.sec2{
   margin-top: 30px;
  
}
.div-vd{
    width: 55vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto; 
    
    
}
.div-vd video{
    width: 100%;
    box-shadow: 0 0 15px black;
    border-radius: 20px;

}
.final{ 
    width: 100%;
    height: auto;
    padding: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.final a{
    text-decoration: none;
}
.final p{
    text-align: center;
}
.link{
    width: 55vw;
    max-width: 1000px;
    min-width: 220px;
    margin: auto; 
    margin-top: 30px;
    border: outset 3px rgba(1, 10, 19, 0.523);
    background-image: linear-gradient(rgba(56, 56, 109, 0.123),rgba(0, 0, 0, 0.183),rgba(135, 207, 235, 0.269));
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.a1{
    
    width: 10vw;
}
.link a{
    display: inline-block;
    color: #212424;
}

/* formulario registro */

.registro{
    width: 400px;
    background: #0b3c70;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 10PX 15px 20px #0b3c70;
}

.registro h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.controls{
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: solid 1px rgb(0, 110, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.registro a{
    color:white;
    text-decoration: none;
}
.registro a:hover {
    color:white;
    text-decoration: underline;
}

.boton{
    width: 100%;
    background: rgb(1, 1, 161);
    border: none;
    padding: 12px;
    color: white;
    margin: 15px 0;
    font-size: 20px;

}
 /* NOSOTROS */


 .contenedor-somos h2{
    text-align: center;
    font-size: 50px;

 }
 .contenidos{
    
    width: 65vw;
    max-width: 1000px;
    min-height: 220px;
    margin: auto;
    


 }
 .contenidos p{
    font-size: 30px;
    text-align: center;
 }
 .contenidos h3{
    font-size: 40px;
    text-align: center;
 }
 .contenidos img{
    width: 100%;
    border-radius: 15px;

 }
 .contenidos iframe{
    width: 100%;
    border-radius: 15px;
 }
@media only screen and (max-width:550px) {
   .sec1{
     grid-template-columns:1fr;
     grid-template-rows: 1fr 1fr 1fr;
   } 
    
}
